extends ../layout/index.pug

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1.mb-2 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim erat tellus, eget faucibus orci facilisis eget. Vivamus eget laoreet lectus. Duis egestas metus sit amet scelerisque tempor. Etiam suscipit interdum nisi, sed hendrerit libero condimentum in. Quisque commodo tincidunt felis, id vestibulum massa tincidunt id. 

                p Nunc sem quam, semper non vehicula non, dapibus sed felis. Nulla blandit lacinia mauris, eu feugiat libero pulvinar in. In hac habitasse platea dictumst. Donec sodales ipsum lorem, sit amet suscipit neque pellentesque at. Duis sit amet vestibulum leo. Quisque non ex eget odio ornare blandit et a nisi. Aliquam diam massa, viverra sed felis non, semper viverra nibh.

                p Sed eu gravida lectus. Nulla interdum dapibus nisl et condimentum. Quisque convallis ante a diam sagittis, eu posuere quam pellentesque. Maecenas a metus neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut pretium euismod lacinia. Nunc euismod, ligula non rhoncus semper, metus ipsum tristique nulla, ut finibus quam tortor non elit. Sed sed lectus at magna fermentum malesuada. Morbi ac auctor sem, eget pellentesque dui. Vestibulum sollicitudin nisi sit amet urna luctus accumsan. Donec tellus risus, lacinia efficitur imperdiet sed, hendrerit a tortor.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed eu gravida lectus. Nulla interdum dapibus nisl et condimentum. Quisque convallis ante a diam sagittis, eu posuere quam pellentesque.


                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destino" class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos 
                    p Sed eu gravida lectus. Nulla interdum dapibus nisl et condimentum. Quisque convallis ante a diam sagittis, eu posuere quam pellentesque.

                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Sed eu gravida lectus. Nulla interdum dapibus nisl et condimentum. Quisque convallis ante a diam sagittis, eu posuere quam pellentesque.